services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            string $secret: '%kernel.secret%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
